{{include file="header.html"}}

	<body>

		<div class="container">
			<form method="post" action="index.php" class="form-horizontal">

				<fieldset>
				
					<!-- Form Name -->
					<legend>
						<h2>詳細內容
							<button type="submit" class="btn btn-md btn-danger pull-right" id="back" name="back" value="back">回首頁</button>
						</h2>	

						<h4 class='pull-right text-warning'>&nbsp;&nbsp;{{$row["datetime"]}}</h4>
						<h4 class='pull-right text-warning'>  主題建立者：{{$row["mail"]}} || </h4>
					
					</legend>
					

					<table>
						<!-- Text input-->
						<tr>
							<h2><div class="form-group">
									<p class="bg-success">
										主題：{{$row["topic"]}}
									</p>
								</div>
							</h2>
						</tr>
						<tr> 
							<!-- Password input-->
							<h4> 
								<div class="text-info">
									內容：{{$row["content"]}}

								</div>
							</h4>
						</tr>
						<!-- Button (Double) -->
						<tr><legend></legend>
							
						</tr>
					</table>
				</fieldset>	
			</form>
			{{$rowReplyCount = $resultReply->rowCount()}}
			
			{{if $rowReplyCount!=0}}
			
			<h3>回復：</h3>
			<table class="table table-hover">
				{{while $rowReply = $resultReply->fetch()}}
				
					<tr>
						<td>
							<h4>{{$rowReply['reply']}}</h4>
						</td>
						<td>
							<h5 class='pull-right text-warning'>&nbsp;&nbsp;{{$rowReply['datetime']}}</h5>
							<h5 class='pull-right text-warning'>建立者：{{$rowReply['mail']}} || </h5>
						</td>	
					</tr>

				{{/while}}
			</table>
			{{/if}}
			<form method="post" action="detailsReply.php?ID={{$id}}" class="form-horizontal">		
				<input cols="100" rows="1" maxlength="70" class="form-control input-md" id="reply" name="reply"><legend></legend>
				<!-- <input type="hidden" id="ID" name="ID" value="{{$id}}"> -->
				<button class="btn btn-md btn-primary pull-right" id="send" name="send" value="send">回復</button>

				<h4><p class='text-center text-danger'>{{$NoValue}}</p></h4>

			</form>		
				
			

		</div>

	</body>
</html>
<!-- <script>
	$("#send").on("click", function(){
		let dataToServer = {
			reply:$("#reply").val(),
			ID	 :$("#ID").val()
		}

		$.ajax({
			type:"POST",
			url:"./detailsReply.php",
			data: dataToServer,
            success: function(e) {
                window.location.replace('details.php?ID={{$id}}');
            }
		})
	})
</script> -->