<!DOCTYPE html>
<html lang="en">

<head>
    <title>Message board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<style>
    .container {
        width: 97%
    }
</style>

<body>
    <div class="container">


        <h3>
            <p class='text-center text-info'>歡迎！{{if $memberMail}}{{$memberMail}}{{else}}{{"訪客"}}{{/if}}</p>
        </h3>

        {{if $smarty.session.memberID != ""}}
        <h2>留言板
            <a href="logout.php" class="btn btn-md btn-danger pull-right">登出</a>
            <a href="create.php" class="btn btn-md btn-success pull-right">
                <span class="glyphicon glyphicon-plus"></span> 新增留言</a>
        </h2>
        {{/if}} 
        {{if $smarty.session.memberID == ""}}
        <h2>留言板
            <a href="signUp.php" class="btn btn-md btn-danger pull-right">註冊</a>
            <a href="login.php" class="btn btn-md btn-success pull-right">使用者登入</a></h2>
        {{/if}}



        <table class="table table-hover">
            <thead>
                <tr>
                    <th>標題</th>
                    <th>內容</th>
                    <th>建立者</th>
                    <th>更新時間</th>
                    <th>&nbsp;</th>

                </tr>
            </thead>
            <tbody>
                {{while $row = $result->fetch()}}
                    <tr>
                        <td>
                            <a href="details.php?ID={{$row['ID']}}">
                                {{$row['topic']}}
                            </a>
                        </td>
                        <td>
                            {{$row['content']}}
                        </td>
                        <td>
                            {{$row['mail']}}
                        </td>
                        <td>
                            {{$row['datetime']}}
                        </td>
                        <td>
                            <span class="pull-right">

                                <form method="post" action="delete.php"> 
                                        
                                        
                                    {{if $smarty.session.memberID == 1 || $row['memberID'] == $smarty.session.memberID}}
                                        <input id="msID" name="msID" type="hidden" value="{{$row['ID']}}"> 
                                        <button type="submit" class="btn btn-xs btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span> 刪除</button> |

                                        <a href="edit.php?ID={{$row['ID']}}" class="btn btn-xs btn-info">
                                            <span class="glyphicon glyphicon-pencil"></span> 修改</a> |

                                    {{/if}}

                            <a href="details.php?ID={{$row['ID']}}" class="btn btn-primary btn-xs"> 詳細內容</a>

                            </form>

                            </span>
                        </td>
                    </tr>
                {{/while}}



            </tbody>
        </table>
    </div>

</body>

</html>