{{include file="header.html"}}

<body>
	<div class="container form-horizontal">
		<fieldset>
			<!-- Form Name -->
			<legend>
				<h2>登入</h2>
			</legend>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="ID">帳號Mail</label>
				<div class="col-md-4">
					<input id="mail" name="mail" type="text" placeholder="請輸入帳號mail" class="form-control input-md"
						size="30" maxlength="30" value="{{$mail}}">
				</div>
			</div>

			<h4>
				<p class='text-center text-danger' id="mailValue"></p>
			</h4>

			<!-- Password input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="password">密碼</label>
				<div class="col-md-4">
					<input id="password" name="password" type="password" placeholder="請輸入密碼"
						class="form-control input-md" size="20" maxlength="20">

				</div>
			</div>

			<!-- Button (Double) -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="button1id"></label>
				<div class="col-md-8">
					<button id="login" name="login" class="btn btn-primary" value="OK">登入</button>
					<a href="/index.php" class="btn btn-danger">回首頁</a>
				</div>
			</div>

		</fieldset>


	</div>
	{{include file="src.html"}}
	<script src="http://localhost/smartyBoard/templates/login.js" defer></script>
</body>


</html>