{{include file="header.html"}}

<body>

	<div class="container">
		<form method="post" action="./checkSignUp.php" class="form-horizontal">


			<fieldset>

				<!-- Form Name -->
				<legend>
					<h2>註冊帳號</h2>
				</legend>


				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="ID">註冊新帳號Mail</label>
					<div class="col-md-4">
						<input id="mail" name="mail" type="text" placeholder="請填寫mail 最多三十字"
							class="form-control input-md" size="30" maxlength="30" value="">
					</div>
				</div>

				<h4>
					<p class='text-center text-danger' id="mailValue"></p>
				</h4>

				<!-- Password input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="password">新密碼</label>
					<div class="col-md-4">
						<input id="password" name="password" type="password" placeholder="請填寫英文或數字或符號"
							class="form-control input-md" maxlength="50">

					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="passwordCheck">再次確認密碼</label>
					<div class="col-md-4">
						<input id="passwordCheck" name="passwordCheck" type="password" placeholder="請填寫英文或數字或符號"
							class="form-control input-md" maxlength="50">

					</div>
				</div>

				<h4>
					<p class='text-center text-danger' id="passwordValue"></p>
				</h4>
				<!-- Button (Double) -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="button1id"></label>
					<div class="col-md-8">
						<button type="submit" disabled="disabled" id="signUp" name="signUp" class="btn btn-primary"
							value="signUp">確定註冊</button>
						<a href="/index.php" class="btn btn-danger">回首頁</a>
					</div>
				</div>

			</fieldset>
		</form>

	</div>
	{{include file="src.html"}}
	<script src="http://localhost/smartyBoard/templates/signUp.js" defer></script>
</body>


</html>